@import url('https://fonts.cdnfonts.com/css/utm-banque');
html{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body{
    background-color: #2C2F33;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'UTM Banque', sans-serif;}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

a{
    text-decoration: none;
    color: #9370DB;
    font-size: auto;
    transition: all 0.5s ease-out;

}
a:hover,
a:focus {
  color: #2C2F33;
  background-color: #9370DB;
}
h1{
    font-size: 300%;
    text-align: center;
    font-weight: bolder;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.input_white{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10px;
}
.message{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10px;
    width: 10%;
    height: 100%;
}


.bouton_envoi{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 4px 0px #483D8B;
    -moz-box-shadow: 0px 4px 0px #483D8B;
    box-shadow: 0px 4px 0px #483D8B;
}
.bouton_envoi:active{
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
    position:relative;
    top:1px;
}
.bouton_mdp{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
}
.bouton_mdp:active{
    -webkit-box-shadow: 0px 2px 0px #483D8B;
    -moz-box-shadow: 0px 2px 0px #483D8B;
    box-shadow: 0px 2px 0px #483D8B;
    position:relative;
    top:1px;
}
.team{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.pp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Ethan{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #030133;
    width: 20%;
}
.Aya{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    width: 20%;
}
.Benjamin{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    color: rgba(255,255,255, 0.8);
    background-color: #000000 ;
    width: 20%;
}
.pdp{
    border-radius: 25px;
}
video{
    display: none;
    height: 60%;
    width: 60%;
    margin: auto;
}

.croix{
    display: none;
    background-color: #9370DB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
    font-size: larger;
    font-weight: bolder;
    margin-left: 15%;
}
.user-input{
    padding-bottom: 40px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #151515;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    border: none;
    margin-top: 20px;
 }
 ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: square;
}