@import url('https://fonts.cdnfonts.com/css/utm-banque');
@import url('https://fonts.cdnfonts.com/css/action-women');
@import url('https://fonts.cdnfonts.com/css/kg-traditional-fractions');
html{
    background-image: url(/assets/fond.jpg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body{
    
    color: rgba(255, 255, 255, 0.8);
    font-family: 'UTM Banque', sans-serif;
}
header{
    background-color: rgb(0, 0, 61);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin-right: 10%;
}
.fit-picture{
    width:100%;
    max-width: 198px;
    min-width: 10px;
    max-height: 49px;
    min-height: 10px;
    height:100%;
}
a{
    text-decoration: none;
    color: #9370DB;
    font-size: auto;
    transition: all 0.5s ease-out;
    border-radius: 5%;
}
.connexion:hover,
.connexion:focus {
  color: rgb(0, 0, 61);
  background-color: #9370DB;
  border-radius: 10%;
}
h1{
    font-size: 300%;
    text-align: center;
    font-weight: bolder;
    height: 150px;
    background-color: rgba(147, 112, 219,0.5);
}
h2{
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
}
h3{
    font-size: 150%;
    text-align: center;
    font-weight: bolder;
}
h4{
    font-size: 150%;
    text-align: center;
    font-weight: bolder;
}
h5{
    font-size: 100%;
    text-align: center;
    font-weight: bolder;
}
.monnaies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
.euro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.bitcoin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.chamo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.dollar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.euro_belge{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.coding{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.dong{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.slogan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.infos{
    border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.i{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form{
    border-radius: 10%;
    border: 10px solid #9370DB;
    background-color: rgba(0, 0, 0,0.3);
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
.input_white{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10%;
    font-family: 'UTM Banque', sans-serif;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    text-align: center;
    width: 100%;
}
.ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ligne2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contacter{
    background-image: url(/assets/fond_contact.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}
.transactions{
   text-align: center;
   border: 5px solid #9370DB;
    border-radius: 10%;
    background-color: rgba(0, 0, 0,0.3);
}
.espace_banque{
    background-image: url(/assets/fond_mon_espace.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}
.soldes{
    background-image: url(/assets/fond_soldes.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}
.solde{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.inscription{
    background-image: url(/assets/fond_inscription.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    text-align: center;
    vertical-align: middle;
}
.page_connexion{
    background-image: url(/assets/fond_connexion.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    text-align: center;
    vertical-align: middle;
}
.accueil{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(147, 112, 219,0.5);
}
.message{
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10%;
    width: 10%;
    height: 100%;
}
.bouton_envoi{
    font-family: 'UTM Banque', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 4px 0px #483D8B;
    -moz-box-shadow: 0px 4px 0px #483D8B;
    box-shadow: 0px 4px 0px #483D8B;
}
.bouton_envoi:active{
    font-family: 'UTM Banque', sans-serif;
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
    position:relative;
    top:1px;
}
.bouton{
    font-family: 'UTM Banque', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 4px 0px #483D8B;
    -moz-box-shadow: 0px 4px 0px #483D8B;
    box-shadow: 0px 4px 0px #483D8B;
    width: auto;
    font-size: larger;
    font-weight: bolder;
}
.bouton:active{
    font-family: 'UTM Banque', sans-serif;
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
    position:relative;
    top:1px;
    width: auto;
    font-size: larger;
    font-weight: bolder;
}
.bouton_mdp{
    font-family: 'UTM Banque', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
}
.bouton_mdp:active{
    font-family: 'UTM Banque', sans-serif;
    -webkit-box-shadow: 0px 2px 0px #483D8B;
    -moz-box-shadow: 0px 2px 0px #483D8B;
    box-shadow: 0px 2px 0px #483D8B;
    position:relative;
    top:1px;
}
.bouton_depot{
    font-family: 'UTM Banque', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #9370DB;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 300%;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 3px 0px #483D8B;
    -moz-box-shadow: 0px 3px 0px #483D8B;
    box-shadow: 0px 3px 0px #483D8B;
}
.bouton_depot:active{
    font-family: 'UTM Banque', sans-serif;
    -webkit-box-shadow: 0px 2px 0px #483D8B;
    -moz-box-shadow: 0px 2px 0px #483D8B;
    box-shadow: 0px 2px 0px #483D8B;
    position:relative;
    top:1px;
}
.team{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.pp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Ethan{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    background-color: #030133;
    width: 20%;
}
.Aya{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    width: 20%;
}
.Benjamin{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    color: rgba(255,255,255, 0.8);
    background-color: #000000 ;
    width: 20%;
}
.pdp{
    border-radius: 10%;
}
video{
    display: none;
    height: 60%;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.croix{
    display: none;
    background-color: #9370DB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
    font-size: larger;
    font-weight: bolder;
    margin-left: 17%;
}
.user-input{
    padding-bottom: 40px;
    font-size: 300%;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #151515;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    border: none;
    margin-top: 20px;
 }
 ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: square;
}

.historique{
    display: flex;
    flex-direction: column;
}